
#img , #dc {
    text-align: center;
  }

  .w-container h2 {
    text-align: center;
    margin-top: 30px;
  }

  .text-red {
        color:red;
    }

    i {
        color: red;
        font-size: 25px;
    }