* {
    box-sizing: border-box;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background-color: #f1f1f1;
    border-radius: 30px 30px 30px 30px;
}

input[type="text"]:focus
input[type="password"]:focus {
    outline: none;
    background-color: #ddd;
}

fieldset {
    padding: 10px;
    background-color: #ddd;
    margin-top: 20px;
    border-radius: 30px 30px 30px 30px;
}

legend {
    background-color: rgb(176, 169, 169);
    border-radius: 20px 20px 20px 20px;
    color: white;
    padding: 5px 10px;
    font-size: 17px;
}

button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
    opacity: 0.8;
}

.signupBtn {
    background-color: green;
}

.cancelBtn {
    background-color: red;
}

.signupBtn,
.cancelBtn {
    float: left;
    width: 50%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.errMsg {
    color: red;
}

h1 {
    text-align: center;
}